n8n/workflows/03_weekly_summary_and_alerts.json
{
  "name": "03 Weekly Summary & Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }]
        }
      },
      "id": "cron_weekly",
      "name": "Cron Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [210, 250]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ranked AS (\n  SELECT p.title, c.name competitor, ph.observed_at, ph.price,\n         LAG(ph.price) OVER (PARTITION BY ph.product_id ORDER BY ph.observed_at) prev_price\n  FROM price_history ph\n  JOIN products p ON p.id = ph.product_id\n  JOIN competitors c ON c.id = p.competitor_id\n  WHERE ph.observed_at >= NOW() - INTERVAL '7 days'\n)\nSELECT title, competitor, price, prev_price,\n       ROUND(((price - prev_price)/NULLIF(prev_price,0))::numeric*100,2) AS pct_change\nFROM ranked\nWHERE prev_price IS NOT NULL\n  AND ABS((price - prev_price)/NULLIF(prev_price,0)) >= 0.1\nORDER BY ABS((price - prev_price)/NULLIF(prev_price,0)) DESC\nLIMIT 20;"
      },
      "id": "pg_weekly_changes",
      "name": "Fetch Weekly Changes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [430, 250],
      "credentials": { "postgres": { "id": "replace_me", "name": "Postgres" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/api/generate-summary",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"highlights\": $json}"
      },
      "id": "http_generate_summary",
      "name": "Generate AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 250]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { text: `Weekly competitive intelligence summary:\n\n${$json.summary}` } }];"
      },
      "id": "code_prepare_message",
      "name": "Prepare Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [890, 250]
    },
    {
      "parameters": {
        "subject": "Weekly Competitive Intelligence Report",
        "text": "={{$json.text}}"
      },
      "id": "send_email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 250],
      "disabled": true
    }
  ],
  "connections": {
    "Cron Weekly": { "main": [[{ "node": "Fetch Weekly Changes", "type": "main", "index": 0 }]] },
    "Fetch Weekly Changes": { "main": [[{ "node": "Generate AI Summary", "type": "main", "index": 0 }]] },
    "Generate AI Summary": { "main": [[{ "node": "Prepare Alert Message", "type": "main", "index": 0 }]] },
    "Prepare Alert Message": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {}
}
